.letters_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(8rem / 16);
}

@media (min-width: 768px) {
    .letters_container {
        gap: calc(16rem / 16);
    }
}



