.info_card_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: var(--color-2);
    border-radius: 20px;
    padding: calc(32rem/16);
    gap: calc(16rem/16);
    width: 100%;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: calc(16rem/16);

}

.number {
    color: var(--color-5);
    font-size: calc(24rem/16);
    line-height: 120%;
    letter-spacing: 0.75px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: calc(16rem/16);
}
.title {
    display: none;
}
.title_text {
    color: var( --color-7);
    font-size: calc(24rem/16);
    line-height: 120%;
    letter-spacing: 0.75px;
    font-weight: normal;
}
.instruction_text {
    color: var( --color-8);
    font-size: calc(16rem/16);
    line-height: 120%;
    letter-spacing: 1.05px;
}

@media (min-width: 768px) {
    .info_card_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: calc(40rem/16);
        border-radius: 40px;
    }
    .title_mobile {
        display: none;
    }
    .title {
        display: flex;
    }

    .number {
        color: var(--color-5);
        font-size: calc(88rem/16);
        line-height: 120%;
        letter-spacing: 0.75px;
    }

    .title_text {
        font-size: calc(40rem/16);
        line-height: 120%;
        letter-spacing: 0.75px;
    }

    .instruction_text {
        font-size: calc(20rem/16);
        line-height: 120%;
        letter-spacing: 0.95px;
    }


}

@media (min-width: 1440px) {
    .info_card_container {
        height: calc(550rem/16);
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: calc(60rem/16) calc(48rem/16);
        gap: calc(40rem/16);
    }
    .content {
        align-items: center;
    gap: calc(40rem/16);}

    .title_text {
        font-size: calc(48rem/16);
        letter-spacing: 2.5px;
    }

    .instruction_text {
        font-size: calc(26rem/16);
        letter-spacing: 1.05px;
    }

}