.main_game_container {
  width: 100%;
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
  .main_game_container {
    height: 100%;
    width: auto;
    padding: calc(10px);
  }
}
